@import '~bulma/css/bulma.css';

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host {
  display: block;
  width: var(--width, 800px);
  padding: 1rem;
}

p {
  margin-bottom: 0.5em;
}

.button {
  max-height: 1.5em;
}

.textarea {
  height: 200px;
  width: unset;
  min-width: unset;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

small {
  margin-top: 1em;
  display: block;

  &.dot-separated {
    > span + span::before {
      content: ' · ';
    }
  }
}
