:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  > article {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  
    > * {
      width: 100%;
      height: 100%;
    }
  
    textarea:first-child {
      width: 100%;
      height: 100%;
    }
  }
}
